@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

:root{
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --primary-color: #1b4aa9;
    --secondary-color: #f39c12;
    --background-color: #f9f9f9;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--body-font);
    background-image: url('../img/login_img2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 50%;
    height: 90vh;
    background-color: rgba(47, 42, 42, 0.7); /* Transparent white color */
    backdrop-filter: blur(1px); /* Apply a blur effect */
    box-shadow: 0 2px 4px rgba(189, 171, 171, 0.1);
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.7; /* Initial opacity */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.container:hover{
    opacity: 1; /* Change opacity to fully visible on hover */
    transform: scale(1.05); /* Increase size slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect on hover */
}


.wrapper {
    display: flex;
    width: 100%;
}

.container {
    order: 1;
}


.topheading {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px; /* Add padding to separate from the edges */
    padding-left: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: #eef1f3;
}

.logo img {
    margin-right: 10px;
    max-height: 30px;
}

.signup {
    font-size: 16px;
    font-family: var(--second-font);
    font-weight: bold;
    margin-left: auto; /* Align to the right */
    padding-right: 50px; /* Add padding to separate from the edges */
    color: #b8b2b2;
}

h5 {
    margin-top: 80px;
    font-size: 32px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font for a modern look */
    color: #f5eeee; /* Use a dark gray color for readability */
    text-align: center; /* Center the text for a balanced layout */
}

form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    color:inherit;
    width:100px;
    background-color:White;
    border:none;
    border-bottom:1px solid #ffffff;
    padding-left:20px;
    text-indent: 0px;
    font-family: var(--second-font);
}
.input-group{
    padding:2% 10;
    position:relative;
    font-size: small;

}
input[type="email"],
        input[type="password"] {
            width: 100%;
            max-width: 200%;
            padding: 15px 80px;
            border: 1px solid #c5c0c0;
            margin-bottom: 20px;
            font-family: var(--second-font);
            box-sizing: border-box;
            font-size: 16px;
            border-radius: 5px;
        }
.input-group i{
    position:absolute;
    color:rgb(22, 20, 20);
    top: 20px; /* Adjust this value as needed */
    font-size: 20px;
}
input:focus{
    background-color: whitesmoke;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#fceded;
    position:relative;
    left:1.9em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-5em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:#1b4aa9;
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:#3367d6;
}

.google-login {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 150px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: var(--second-font);
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}

.google-login:hover {
    background-color: #3367d6;
}
  