*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container-post{
    background: #222;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 350px;
    height: 60vh;
    margin: auto;
    position: relative;
    border-radius: 15px;
    margin-left: 50px; /* Add some space between containers */
    flex: 0 0 calc(33.33% - 200px); /* Calculate the width of each container with margin */
    max-width: calc(33.33% - 200px); /* Set the max width of each container */
    margin-bottom: 20px;
}
#postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align containers to the left */
}

@media screen and (max-width: 768px) {
    .container-post {
        flex: 0 0 calc(50% - 20px); /* Adjust container width for smaller screens */
        max-width: calc(50% - 20px);
    }
}

#textBox{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 10px;
}

#prevText{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate( -50%);
    width: 90%;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 20px #000;
}

.upload-icon{
    position: absolute;
    width: 60px;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

